


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/admin-style.css">
    <link rel="stylesheet" href="/css/admin-error.css">
</head>
<%- include('../partials/admin/header') %>

<!-- <div class="dashboard-container">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Add Product</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Coupon</a></li>
                <li><a href="#">Banner</a></li>
                <li><a href="#">Orders</a></li>
            </ul>
        </nav>
    </aside> -->

    <!-- <main class="main-content">
        <h2>Welcome to Admin Dashboard</h2>
    </main> -->
  
    <main class="error-page">
        <div class="error-container">
            <h1>Error</h1>
            <p>Something went wrong! Please try again later.</p>
            <p><a href="/admin/dashboard">Go Back to Dashboard</a></p>
        </div>
    </main>

</div>





